.section-main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  
}
.article-inf{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    width: 90%;
   
}
.cont-text-main{
    width: 100%;
    height: 90px;
    
}

.content-AbautMe-main{
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-size: 1.1rem;
    font-family:'Montserrat', sans-serif ;
    flex:1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    
}
.img-cont{
    display: none;
    width: 300px;
    height: 300px;
    animation: imgAnime 5s ease-in-out  infinite;
    flex:1;  
    
}

.Abaut-me{
    font-size: 1rem;
    align-self: flex-start;
    text-align: left;
    line-height: 40px
}
.title-abaut{
    font-size: 1.3rem;
    padding-left: 20px;
    color:magenta;
    font-weight: 900;

}
.Abaut-me-text{
    max-width: 320px;
    font-size: 1rem;
    text-align: center;
    align-self: center;
    line-height: 30px;
  
}
.article-social{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    
    
}
.btn-main{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    border: 1px solid #ffffff;
    
}
.btn-main:hover{
    background: linear-gradient(90deg, rgba(209,8,194,0.6418942577030813) 0%, rgba(254,255,0,0.6166841736694677) 100%);
    border:none;
}
@media screen and (min-width:600px)  {

    .Abaut-me{
        font-size: 1.3rem;
    }
    .title-abaut{
        font-size: 1.6rem;
    }
    .Abaut-me-text{
        font-size: 1.3rem;
        line-height: 30px;
    }
}
@media screen and (min-width:700px) {
    .cont-text-main{
        width: 100%;
        height: 100px;
        
    }
    
    .content-AbautMe-main{
        gap: 10px;
        
    }
    
    .Abaut-me-text{
        max-width: 450px;
        line-height: 35px
    }
    
    .img-cont{
        display: flex;
        justify-content: center;
        align-items:center ;
        width: 300px;
        height: 300px;
    } 
    .img-cont>img{
        width: 250px;
        height: 250px;
    }
    .title-abaut{
        font-size: 1.6rem;
        text-align: center;
    }
    
  
    .btn-main>i{
        font-size: 1.5rem;
        
    }
    
}

@keyframes imgAnime {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}



@media screen and (min-width:1200px) {
    .Abaut-me-text{
        max-width: 450px;
        font-size: 1.7rem;
    }
    
    .img-cont{
        display: flex;
        justify-content: center;
        align-items:center ;
        width: 400px;
        height: 400px;
    } 
    .img-cont>img{
        width: 400px;
        height: 400px;
    }
    .Abaut-me{
        font-size: 2.5rem;
        align-self: center;
        text-align: left;
        line-height: 60px;
    }
    .title-abaut{
        font-size: 3rem;
      
    }
    
    .content-AbautMe-main{
        gap: 60px;
        
    }
    .btn-main{
        width: 70px;
    height: 70px;
   }
    .btn-main>i{
     font-size: 2rem;
    }
    
}


    