*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cont{
  width: 100%;
  height: 100vh;
position: fixed;
background:linear-gradient(#8c366c ,#6f64e7);
z-index: -10;
}

.section{
  width: 100%;
  max-width: 1600px;
  height: 100vh;
}

/*----NavBar----*/


/*-------Contact-----*/


