* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nixie One', cursive;
}
:root {
  --text: #eeeeee;
  --fond: #222831;
  --primerln: #393e46;
  --secundln: #393e46;
  --Thirdln: #393e46;
  --Fourthln: #393e46;
  --buttonTema: #393e46;
  --buttonContact: #222831;
  --textTema: #fd7014;
}
.Ligth {
  --text: #222831;
  --fond: #eeeeee;
  --primerln: #ecf9ff;
  --secundln: #fffbeb;
  --Thirdln: #ffcefe;
  --Fourthln: #FFE7CC;
  --buttonTema: #ec7272;
  --textTema: #222831;
  --buttonContact: #ec7272;
}
.App{
  width: 100%;
  position: relative;
}
.Intro{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items:center ;
  justify-content: center;
  background-color: var(--fond);
  font-family: 'Nixie One', cursive;
  color: var(--text);
  font-weight: 700;
  z-index: 100;
}
.div-content{
 display: flex;
 align-items: center;
 flex-direction: column;
 gap:30px;
}
.text-int{
  opacity: 0;
  animation-name: visible;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  font-size: 1.5rem;
}
.no{
  transition: left 1.5s ease-in-out ;
  left: -100%;
}
.name{
  animation-delay: 0.5s;
}
@keyframes visible {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
/*---------tema---------*/
.tema {
  background-color: var(--buttonTema);
  position: fixed;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 11;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.403);
}
.tema > i {
  color: var(--textTema);
  font-size: 1.4rem;
}
@media screen and (min-width:768px) {
  .tema{
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
  }
  .tema > i {
    font-size: 2rem;
  }
}
/*--------contac-icon-------*/

.div-icon {
  position:absolute;
  right: 10px;
  bottom: 10px;
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  z-index: 11;
}
.social {
  background-color: var(--buttonTema);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.277);
  transition: background-color 0.5s ease-in-out;
  
}

.div-icon > span > a {
  text-decoration: none;
  color: var(--textTema);
  transition: color 0.5s ease-in-out;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: lightslategrey;
  border: 0;
}
.link:hover > a {
  color: white;
}
.git:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: lightskyblue;
  border: 0;
}
.git:hover > a {
  color: white;
}
.what:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: rgb(102, 230, 102);
  border: 0;
}
.what:hover > a {
  color: white;
}
.four:hover .cn {
  display: none;
}
.four:hover .div-form {
  display: flex;
}
@media screen and (min-width:768px) {
  .div-icon{
    width: 200px;
    height: 55px;
  }
  .social{

    width: 50px;
    height: 50px;

  }
  .div-icon > span > a {
    font-size: 1.8rem;
  }
}
/*---------nav--------*/
.list-nav{
  width: 100%;
  height: 100vh;
  background: var(--fond);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style: circle;
  font-size: 2.5rem;
  gap: 40px;
  color: var(--text);
  font-family: 'Nixie One', cursive;
}
.list-nav>li{
  margin-left: 55px;
  border-bottom: 2px solid var(--text);
  cursor: pointer;
}
.back{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 10px;
  font-size: 2rem;
  border: 2px solid var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width:768px) {
  .list-nav{
    font-size: 3rem;
  }
  .list-nav>li{
  margin-left: 100px;
  }
  
}

/*--------Abaut me-----------*/
.home{
  display: none;
}
.one{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    z-index: 10;
    background-color: var(--fond);
    color: var(--text);
    transition: top 1s ease-in-out;
    padding: 10px;
}

.a{
  top: -100%;
  transition: top 1s ease-in-out;
}
.AbautMe{
  width: 100%;
    height: 80%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.text-about{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.text-about>h2{
  font-size: 2rem;
}
.text-about>p{
 font-size: 1rem;
 font-weight: 900;
}
.text-about>button{
  width: 150px;
  height: 40px;
  border: 0;
  background-color: var(--buttonTema);
  color: var(--textTema);
  font-weight: 900;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.403) ;
  transition: background-color 1s ease-in-out;
}
.text-about>button:hover{
  background-color: #fd7014;
}
@media screen and (min-width:768px) {
  .text-about{
    max-width: 600px;
  }
}
/*-------Project----------*/
.two{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
 left: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--fond);
  color: var(--text);
  transition: bottom 1s ease-in-out;
}
img{
  width: 200px;
  height: 250px;
  
}
.b{
  bottom: -100%;
  transition: bottom 1s ease-in-out;
}
.Project{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
 
}
.container-project{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.projects{
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: scroll;
  width: 100%;
}
.container{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects img{
  width: 200px;
  height: 150px;
  object-fit: fill;
  border-radius: 10px;
}
.pagina-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.pagina-cont>a{
  position: relative;
}
.pagina-cont>a>img{
  border-radius: 10px;
  object-fit: cover;
}
.pagina-cont>a>span{
  position: absolute;
  bottom: 3px;
  left: 25%;
  background:gray;
  color: var(--text);
  font-weight: 800;
  width: 100px;
  height: 40px;
  border-radius: 10px 10px 2px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pag-text{
  text-align: center;
  font-size: 0.9rem;
  padding: 5px;
}
.pag-text>span{
  font-weight:900;
}

@media screen and (min-width:768px) {
.container-project{
  justify-content: center;
  }
  .projects{
    justify-content: center;
    overflow: initial;
  }
  .pag-text{
    max-width: 500px;
    font-size: 1rem;
    font-weight: 600;
 
  }
  .pag-text>span{
    margin-right: 20px;
  }
  .pagina-cont{
    gap:20px
  }
  .img{
    box-shadow:  2px 2px 8px rgba(0, 0, 0, 0.477);
  }
 
  .x:hover{
    transition: scale 0.5s ease-in-out;
     scale: 1.3;
  }
}
/*----------tecnology-----------*/
.threa{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
  left: 0;
  z-index: 10;
  background-color: var(--fond);
  color: var(--text);
  transition: left 1s ease-in-out;
}
.c{
  left: -100%;
  transition: left 1s ease-in-out;
}
.tg{
  display: none;
}
.Tecnology{

  width: 100%;
  height: 100vh;
}
.Tecnology ul{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding: 20px;
  gap: 10px;
  list-style: none;
 
}
.Tecnology li{
text-align: center;
color:var(--text);
font-weight: 800;

}
.text-tec{
  display: none;
}

/*-------------contact---------*/
.four{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
 right: 0;
  z-index: 10;
  color:var(--text);
  transition: right 1s ease-in-out;
}
.d{
  right: -100%;
  transition: right 1s ease-in-out;
}
.cn{
  display: none;
}
.contact{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.div-form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
  background-color: var(--fond);
}
.contact-form {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--Fourthln);
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}
.fr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 5px;
}
.fr > label {
  font-size: 0.8rem;
  font-weight: 900;
}
.fr > input {
  width: 100%;
  height: 30px;
  border: 0;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
}
.form-button {
  width: 150px;
  height: 40px;
  background-color: #ec7272;
  color:var(--text);
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.428);
  cursor: pointer;
}
.textarea {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
textarea {
  width: 100%;
  height: 80px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}
